body {
  font-family: sans-serif;
}

input {
  /* border: none; */
  padding: 6px 16px;
  outline: none;
}

.text-input {
  margin: 4px auto 15px auto;
  border-radius: 8px;
  min-width: 95%;
  min-height: 25px;
  font-size: medium;
  border: solid 1px;
  border-color: #CCC;
}

.select-area {
  display: flex;
}

.type-select {
  width: 30%;
  max-height: 50px;
  margin: 0 4px 0 0;
}

.pic-select {
  width: 60%;
  margin: 0 8px 0 8px;
}

.hm {
  width: 10%;
  font-size: medium;
  border: solid 1px #CCC;
  border-radius: 8px;
}

li {
  margin-right: 8px;
}

.input-area {
  /* background-color: #ffe7c5; */
  padding: 20px;
  margin: 30px 12px 50px 12px;
  border: solid gray;
  border-radius: 16px;
  border-width: 1px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
}

.incomplete-area {
  /* background-color: #dbfff2; */
  padding: 8px;
  margin: 8px;
  min-height: 100px;
}

.complete-area {
  background-color: yellow;
  padding: 8px;
  margin: 8px;
  width: 400px;
  min-height: 200px;
}

.MH-area {
  /* background-color: rgb(255, 255, 163); */
  padding: 8px;
  margin: 8px;
  min-height: 100px;
}

.title-area {
  display: flex;
  margin: 30px 0 0 0;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  color: #666;
}

.title:hover {
  cursor: pointer;
}

.before {
  margin: 8px 0 0 20%;
}

.before:hover {
  cursor: pointer;
}

.next {
  margin: 8px 20% 0 0;
}

.next:hover {
  cursor: pointer;
}

/* .completed {
  text-decoration: line-through;
  opacity: 0.5;
} */

.todo-body {
  width: 70%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  color: #666;
  margin-top: 40px;
}