body {
  font-family: sans-serif;
}

input {
  border: none;
  padding: 6px 16px;
  outline: none;
}

.text-input {
  margin: 4px auto;
  border-radius: 16px;
  min-width: 95%;
  min-height: 25px;
}

.select-area {
  display: flex;
}

.type-select {
  width: 30%;
  max-height: 50px;
  margin: 0 4px 0 0;
}

.pic-select {
  width: 60%;
  margin: 0 4px 0 0;
}

.hm {
  width: 10%;
}

.button-area {
  text-align: center;
  margin: 4px 0;
}

button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 36px;
}

li {
  margin-right: 8px;
}

.input-area {
  background-color: #ffe7c5;
  padding: 8px;
  margin: 8px;
}

.incomplete-area {
  background-color: #dbfff2;
  padding: 8px;
  margin: 8px;
  min-height: 200px;
}

.complete-area {
  background-color: yellow;
  padding: 8px;
  margin: 8px;
  width: 400px;
  min-height: 200px;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: #666;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-body {
  width: 80%;
  margin: 0 auto;
}