.button-area {
  text-align: center;
  margin: 4px 0;
}

.button:hover {
  background-color: #009;
  color: white;
  cursor: pointer;
}

.button {
  border-radius: 12px;
  /* border: solid 1px #CCC; */
  border: none;
  padding: 8px 28px;
  min-height: 30px;
  background-color: #06C;
  color: white;
  margin: 12px 0 0 0;
}