.trello {
  display: flex;
  align-items: flex-start;
}

.progress-task {
  width: 400px;
  background: rgb(162, 192, 225);
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.complete-task {
  width: 400px;
  background: rgb(205, 159, 213);
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.foward-task {
  width: 400px;
  background: rgb(161, 213, 160);
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
  text-align: center;
}

.all-task {
  padding: 40px 20px;
}

.card {
  padding: 12px;
  background: white;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
}

.add-task {
  /* padding: 12px; */
  background: white;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
  text-align: center;
  padding: 18px 0;
}

.add-task:hover {
  cursor: grab;
}