/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  background: rgb(61, 93, 189);
  background: linear-gradient(
    126deg,
    rgba(61, 93, 189, 1) 0%,
    rgba(33, 63, 107, 1) 96%
  );
  height: 100vh;
  color: #e4e4e4;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c";
} */

.trello {
  display: flex;
  align-items: flex-start;
}

.trello-section {
  width: 400px;
  /* border: 1px solid white; */
  background: rgb(173, 184, 230);
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
  text-align: center;
}

.card {
  padding: 12px;
  background: white;
  border-radius: 6px;
  margin-top: 10px;
}